* {
	margin: 0px;
	padding: 0px;
	font-family: century gothic;
}

.container {
	xmin-width: 1000px;
    margin: auto;
}
.wrapper {
	margin: auto;
	position: relative;
	background-image: url(img/monjali3.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul {
	list-style-type: none;
	float: right;
	margin-top: 20px;
}
ul li {
	display: inline-block;
}
ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	transition: 0.6%;
	background-color: grey;
}
ul li a:hover {
		background-color: none;
		color: black;
}
ul li.active a {
		background-color: none;
		color: black;
}

.main {
	max-width: 1200px;
	margin: auto;
}
.title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
}
.title h2 {
		color: white;
		font-size: 66px;
}

.isi {
	padding: 15px;
	background-color: #171616;
	
}
.isi .judul {
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.baris1 {
	background-color: #171616;
	color: white;
}

p, h4{
	color: white;
}
